page-disciplina1 {
  .col {
    margin: 1px;
    margin-bottom: 6px;
    background-color: #e2eff7 ;
    padding: 10px;
    }




      .inner-main {
        border: 1.5pt solid black;
        text-align: justify;
        overflow-y: auto scroll;
    }

}



