page-messenger {

    .chat-custom{
      background-color: #e2eff7;
      //background-image: url (../ img / fundo . png );
      background-size: cover;
      background-position: center;
      }
      .card-custom{
        background-color: #e68708 ;
        //background-image: url (../ img / fundo . png );
        background-size: cover;
        background-position: center;
        }

    }
