page-add-event {
  .event-custom{
    background-color: #e2eff7;
    //background-image: url (../ img / fundo . png );
    background-size: cover;
    background-position: center;
    }
    .event-custom2{
      background-color: #e68708 ;
      //background-image: url (../ img / fundo . png );
      background-size: cover;
      background-position: center;
      }
      .label{
        color: black;
      }

}
